# ignores following folders
Gold-Chat/CommandClient/obj
Gold-Chat/Gold/bin
Gold-Chat/Gold/obj
Gold-Chat/Server/obj
Gold-Chat/.vs
/not_used
*.csproj.user
*.pdb
*.exe
*.exe.config
*.manifest
*.xml
*.txt
CommandClient.dll
*.TMP